/*!*************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./app/page.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************/
.page_main__WunS6 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 10vh;
  align-items: center;
}

